<div class="jumbotron text-center">
	<div class="container">
		<h1 class="display-4">{{title}}</h1>

		{{#if user}}
		<p class="lead">Rating</p>
		{{#each user}}
		{{rating}}
		<div class="card-link"></div>
		{{/each}}
		{{else}}
		<h3>You have 0 rating so far </h3>
		{{/if}}
		</br>


		{{#if chatss}}
		<div class="card card-body">
			<h3 class="text-primary">Feedback</h3>
			{{#each Feedback}}
			<div class="card-link"></div>
			{{/each}}



		</div>

		{{else}}
		<h3>no feedback so far</h3>
		{{/if}}
	</div>
	<br>
	{{#if item}}
<div id='main' style="border-radius:0;padding:0;">
		<h3 class="text-primary">Your Item</h3>
		{{#each item}}
		<div class='listing' id="{{this.id}}">
			<div class='aceBorder'>
				<img src='{{posterURL}}' alt='Poster unavailable' class='listing-img'>
				<div style="text-align:center; background-color:white; opacity:0.7;">
					{{itemName}}

				</div>
				<a href="../item/edit/{{id}}" class='card-link'>
					<li id='InuserItems' class='Acechange1'>
						<i> Edit</i>
					</li>
				</a>
				<a href="../item/delete/{{id}}">
					<li id="InuserItems" class='Acechange2'>
						<i>Delete</i>
					</li>
				</a>


			</div>



		</div>



		{{/each}}
	</div>

	{{else}}
	<h3>You did not list anything</h3>
	{{/if}}
</div>