<h1>

{{title}}
{{total}}

{{#if cart}}
{{#each cart}}

{{ itemName}}

{{posterURL}}
<a href="../item/deleteInCart/{{id}}" class="card-link">
							<i class="fas fa-pencil-alt">delete ME</i>

						</a>

{{/each}}
{{else}}
Empty Cart
{{/if}}
</h1>