<h1 class='display-4' style="text-align:center">Cart</h1>
<p class='lead' style="text-align:center">The place you finalize order your food</p>

<br>


<div class='container' >
	<div class='row' style="width:80%; margin-left:10%;">
		<div class='col-lg-8'> </div>
		<div class='col-lg-2'>
			<a href='/item/buyAll' style='text-decoration:none;'>
				<div id='ACEClearButton' style='font-size:1em; text-align:center;'>
					Order all

				</div>
			</a>

		</div>
		<div class='col-lg-2'>
			<a href='/item/clear' style="text-decoration:none;">
				<div id="ACEClearButton" style=" font-size:1em;text-align:center; ">Clear cart</div>
			</a>
		</div>
	</div>
	<br>

	{{#if cart}}
	{{#each cart}}

	<form action="/item/boughtItem/{{id}}?_method=PUT " method="POST">
		<div class="card card-body" style="width:80%; margin-left:10%;">
			<div class='row'>
				<div class='col-lg-10'>

					<div class='row'>
						<div class='col-lg-4'>
							<a href="{{posterURL}}" data-title="{{title}}" data-toggle="lightbox">
								<img src="{{posterURL}}" alt="Poster unavailable" class="listing-img">
							</a>
						</div>
						<div class="col-lg-4">
							<div class='row'>
								<div class='col-lg-12' id="ItemName">
									Item Name: {{itemName}}
									<br>
									<br>
									<div class='row'>
										<div class='col-lg-12'>
											Total Cost : ${{itemPrice}}
										</div>

									</div>
									<div class='row'>
										<div class='col-lg-12'>
											Day selected :{{DaysAvailable}}
										</div>

									</div>

									<div class='row'>
										<div class='col-lg-12'>
											Time selected :{{timeAvailable}}
										</div>
									</div>
								</div>
							</div>{{!-- end of row inner --}}
						</div>
						<div class='col-lg-4'>
							Quantity Selected: {{Quantity}}
						</div>

					</div>{{!--Row ends here inner --}}



				</div>
				<div class='col-lg-2'>
					<a href="/item/deleteInCart/{{id}}" class="card-link">
						<i class="fas fa-pencil-alt">Remove from Cart</i>
					</a>
					<br>
					<br>
					<br>
					<br>
					<br>
					<br>
					<a href='/item/boughtItem/{{id}}' class='cart-link' style="text-decoration:none;">
						<div id='ACE_order_div'
							style="width:100%; height:50px;  text-align:center;text-decoration:none;">

							Order

						</div>

					</a>

					{{!-- put buy here to complete the transaction --}}
				</div>
			</div>
		</div>
		{{!-- Row ends here outer --}}

</form>

{{/each}}
{{else}}
<div class='card card-body' style="width:80%; margin-left:10%; text-align:center;">
	Empty Cart
</div>

{{/if}}

</div>