<h1 class='display-4' style="text-align:center">Cart</h1>
<p class='lead' style="text-align:center">The place you order your food</p>

<br>


<div class='container'>

	{{#if cart}}
	{{#each cart}}
	<div class="card card-body" style="width:80%; margin-left:10%;">
		<div class='row'>
			<div class='col-lg-10'>

				<div class='row'>
					<div class='col-lg-4'>
						<a href="{{posterURL}}" data-title="{{title}}" data-toggle="lightbox">
							<img src="{{posterURL}}" alt="Poster unavailable" class="img-thumbnail img-fluid">
						</a>
					</div>
					<div class="col-lg-4">
						<div class='row'>
							<div class='col-lg-6' id="ItemName">
								Item Name: {{itemName}}

							</div>
							<div class='col-lg-6'>
								Cost : {{itemPrice}}
							</div>
						</div>{{!-- end of row inner --}}
					</div>
					<div class='col-lg-4'>
						Quantity: {{Quantity}}
					</div>

				</div>{{!--Row ends here inner --}}






			</div>



			<div class='col-lg-2'>
				<br>

				<br>
				<br>
				<label class='Ace_colorChange' id='displayOnly{{id}}' style="display:none;">
					{{itemName}} has no stock.
				</label>
				<form action="/item/boughtItem/{{id}}?_method=PUT " method="POST">
					<label>Meals to buy</label>
					<input type='number' name='amountToBuy' id='amountToBuy{{id}}' value='1' min='1' max="{{Quantity}}">
					<br>
					<button style="width:100%;" type='submit'
						onclick="CheckQuantity('amountToBuy{{id}}','displayOnly{{id}}')"> &nbsp; Order &nbsp;
					</button>
				</form>

				<br>
				<a href="../item/deleteInCart/{{id}}" class="card-link">
					<i class="fas fa-pencil-alt">Remove from Cart</i>

				</a>

			</div>
		</div>
		{{!-- Row ends here outer --}}
	</div>
	<br>

	{{/each}}
	{{else}}
	Empty Cart
	{{/if}}

</div>