<div class='container'>

    <div class="card card-body" style="background-color: #388FB0; border: 0">
        {{#if item}}
        <div class='row' style='font-size:1.5em'>
            <div class='col-lg-5'>
                <label> Item: {{item.itemName}}</label> <label>&nbsp;&nbsp;&nbsp;</label><label> Quantity:
                    {{item.Quantity}}</label>
                <br>
                <label>Created by: {{item.username}}</label>
            </div>

        </div>
        <div class='row'>
            <div class="col-lg-5">
                <a href="{{item.posterURL}}" data-title="{{title}}" data-toggle="lightbox" >
                    <img src="{{item.posterURL}}" alt="Poster unavailable" style="width:100%; height:400px;">
                </a>
                </div>
            <div class='col-lg-7'>
                <table border="1" id="inf" style="width:50%; height:100%; font-size:1.2em;">
                    <tr style='font-size:1.4em; text-align:center;'>
                        <th>Information</th>
                        <th>Value</th>
                    </tr>
                    <tr>
                        <td>Vegetarian</td>
                        {{#if item.VegType}}
                        <td>Yes</td>
                        {{else}}
                        <td>No</td>
                    </tr>
                    {{/if}}
                    <tr>
                        <td>Is halal?</td>
                        <td>{{item.Halaltype}}</td>
                    </tr>
                    <tr>
                        <td>Cuisine</td>
                        <td>{{item.Cuisine}}</td>
                    </tr>
                    <tr>
                        <td>Day(s) Available</td>
                        <td>{{item.DaysAvailable}}</td>
                    </tr>
                    <tr>
                        <td>Timing(s)</td>
                        <td>{{item.timeAvailable}}</td>
                    </tr>
                    <tr>
                        <td>Location(s)</td>
                        <td>{{item.LocationD}}</td>
                    </tr>
                </table>
            </div>
        </div>
        <div class='row' style="margin-bottom: 20px;">

            <div class='col-lg-12'>
                <label>
                    Desciption:
                </label>
                <br>
                <textarea rows="7" class="form-control" disabled> {{item.itemDescription}}
                </textarea>

            </div>

        </div>




        <div class='row'>
            <div class='col-lg-12'>
                <div class="listing-body">
                    {{#unless item.Quantity}}

                    <button class="out">${{item.itemPrice}} each<br> Out of stock</button>
                    {{else}}
                    {{#if item.existed}}

                    <a id="test2" class="noUnderLine" href="../deleteInCart2/{{item.id}}" style="text-decoration:none;">
                        <div class="in-cart" style="text-decoration:none;">${{item.itemPrice}}
                            each<br>
                            <span id="sentHere"></span>
                            <span class="noUnderLine" id="wordChange"> In_cart</span style="text-decoration:none;">

                        </div>
                    </a>
                    {{else}}

                    <a id="test12" class="noUnderLine" href="/item/step2AddingIntoCart/{{item.id}}" style="text-decoration:none;">
                        <div class="available" style="text-decoration:none; ">
                            <span>${{item.itemPrice}} each<br> Add to Cart</span style="text-decoration:none; ">

                        </div>
                    </a>

                    {{/if}}




                    {{/unless}}
                </div>
            </div>
        </div>
        {{else}}
        <h3>Item does not exist, or has been deleted</h3>
        {{/if}}
    </div>
</div>