<div id="main" class="jumbotron text-center" style="background-color: #388FB0;border-radius: 0; padding: 0;">
    <div class="container" id="toptext">
        <h1 class="display-4">{{title}}</h1>
        <p class="lead">Order food from home through our listings!</p>
    </div>
    <br>
    <div id="topb">
        <a id="filt"><button onclick="togglefilt()">Filter</button></a>
        <button id="sort" onclick="togglesort()">Sort</button>
        <a href="../item/ShowAllCart" id="check"><button>Checkout <br> {{total}} item(s) in cart</button></a>
    </div>
    <div id="sorts">
        <button  id="sortAlphA" class="asc sorts">Alphabetically<br>(Ascending)</button>
        <button id="sortAlphD" class="desce sorts">Alphabetically<br>(Descending)</button>
        <button id="sortIDA" class="asc sorts">Date Added<br>(Ascending)</button>
        <button id="sortIDD" class="desce sorts">Date Added<br>(Descending)</button>
        <button id="sortPriceA" class="asc sorts">Price<br>(Ascending)</button>
        <button id="sortPriceD" class="desce sorts">Price<br>(Descending)</button>
    </div>
    <div id="filts">
        <button id="filt0s" class="filts" onclick="filtout(this)">Out-of-stock listings (included)</button>
    </div>
        {{#each listing}}
     
        <div class="listing" id="{{this.id}}" style="display: inline-block">
            <a href='../item/displayItemDesciption/{{this.id}}'>
            <img class="listing-img" src="{{{this.posterURL}}}" />
            </a>
          <a href="../item/like/{{this.id}}">
                <input type="image" class="unfav" src="unfav.png" onclick="favC(this)" onmouseover="unfavH(this)"
                    onmouseout="unfavUH(this)">
            </a>


            {{#unless this.Quantity}}
            <div class="amount out">0x</div>
            {{else}}
            <div class="amount {{this.Quantity}}">{{this.Quantity}}x</div>
            {{/unless}}
            <div class="listing-body" id="{{this.itemPrice}}">
                <a href="../item/displayItemDesciption/{{this.id}}" class="product-name">{{this.itemName}}</a>
                {{#unless this.Quantity}}
         
                <div class='out'>
            ${{this.itemPrice}} each<br> Out of stock
                </div>
                {{else}}
                {{#if existed}}

                <a id='test2' class="noUnderLine" href="../item/deleteInCart2/{{id}}" style="text-decoration:none;">
                    <div class="in-cart"  style="text-decoration:none;">
                        <span class='test'>${{this.itemPrice}} each <br> </span>
                        
                        <span id='test4'class="noUnderLine" > In_cart</span style="text-decoration:none;">
                    
                    </div>
                </a>
                {{else}}

                <a id="test12" class="noUnderLine" href="../item/step2AddingIntoCart/{{id}}" style="text-decoration:none;">
                    <div class="available" style="text-decoration:none;">
                        <span>${{this.itemPrice}} each<br> Add to Cart</span style="text-decoration:none;">

                    </div>
                </a>

                {{/if}}
                {{/unless}}
            </div>
        </div>
  

        {{/each}}



    </div>
    <script>
//window.onload = function() {
  //if(!window.location.hash) {
    //    window.location = window.location + '#';
    //   window.location.reload();
  //  }
//} 
        var foods = 0
        var s = document.getElementById("sorts")
        var f = document.getElementById("filts")
        var o = document.getElementsByClassName("out")
        var ja = document.getElementsByClassName("filter2")
        
        s.style.display = "none"
        f.style.display = "none"
        function buy(that) {



            // var amoun = Number(prompt("Enter amount you wish to buy."))
            if (amoun <= that.parentNode.previousElementSibling.classList.item(1) && amoun > 0) {
                that.className = "in-cart " + amoun
                that.childNodes[2].textContent = "Remove?"
                that.onmouseover = function () { that.childNodes[2].textContent = "Remove?" }
                //  that.onmouseout = function () { that.childNodes[2].textContent = amoun + " in-cart" }
                foods += Number(amoun)
                checko = document.getElementById("check")
                checko.childNodes[0].innerHTML = "Checkout <br>" + foods + " item(s) in cart"
                // that.setAttribute("onClick", "javascript: cancel(this)")
            }


        }
        function cancel(that) {


            var amoun = that.className.split(" ")
            that.className = "available"
            that.childNodes[2].textContent = "Add to cart"
            that.onmouseover = function () { }
            that.onmouseout = function () { }
            foods -= Number(amoun[amoun.length - 1])
            checko = document.getElementById("check")
            checko.childNodes[0].innerHTML = "Checkout <br>" + foods + " item(s) in cart"
            that.setAttribute("onClick", "javascript: buy(this)")


        }
        function favC(that) {
            that.style.opacity = 1
            that.className = "fav"
            that.src = "fav.png"
            that.setAttribute("onClick", "javascript: unfavC(this)")
            that.setAttribute("onmouseover", "javascript: favH(this)")
            that.setAttribute("onmouseout", "javascript: favUH(this)")
        }
        function unfavC(that) {
            that.style.opacity = 1
            that.className = "unfav"
            that.src = "unfav.png"
            that.setAttribute("onClick", "javascript: favC(this)")
            that.setAttribute("onmouseover", "javascript: unfavH(this)")
            that.setAttribute("onmouseout", "javascript: unfavUH(this)")
        }
        function favH(that) {
            that.src = "unfav.png"
            that.style.opacity = 0.7
        }
        function favUH(that) {
            that.src = "fav.png"
            that.style.opacity = 1
        }
        function unfavH(that) {
            that.src = "fav.png"
            that.style.opacity = 0.4
        }
        function unfavUH(that) {
            that.src = "unfav.png"
            that.style.opacity = 1
        }
        function togglesort() {
            if (s.style.display === "none") {
                f.style.display = "none"
                s.style.display = "block"
            } else {
                s.style.display = "none"
            }
        }
        function togglefilt() {
            if (f.style.display === "none") {
                s.style.display = "none"
                f.style.display = "block"
            } else {
                f.style.display = "none"
            }
        }
    </script>
    <script>
        var selected = []
        var all = []
        var every = []
        var firstInd = 0
        var lastInd = 8
        var count = 0
        var gotmore = false
        function getEvery(){
            var mrthn9 = false
            var e = document.getElementsByClassName("listing")
            every = [].slice.call(e)
            for(i=0; i<e.length; i++){
                if(i<9){
                    continue
                }
                else{
                    mrthn9 = true
                    e[i].style.display = "none"
                }
            }
            if(mrthn9){
                var cont = document.createElement("div")
                var bac = document.createElement("button")
                var forw = document.createElement("button")
                var pgno = document.createElement("p")
                var bacr = document.createTextNode("<")
                var forwr = document.createTextNode(">")
                var pgnum = document.createTextNode("1")
                cont.id = "pgsys"
                bac.id = "bac"
                forw.id = "forw"
                pgno.id = "pgno"
                bac.appendChild(bacr)
                forw.appendChild(forwr)
                pgno.appendChild(pgnum)
                cont.appendChild(bac)
                cont.appendChild(pgno)
                cont.appendChild(forw)
                bac.setAttribute("onclick", "javascript: pgback()")
                forw.setAttribute("onclick", "javascript: pgfor()")
                var main = document.getElementById("main")
                main.appendChild(cont)
                bac.style.display = "none"
            }
        }
        getEvery();
        function pgback(){
            document.getElementById("forw").style.display = "inline-block"
            var num = (parseInt(document.getElementById("pgno").innerText) - 1)
            if(document.getElementById("filt0s").textContent == "Out-of-stock listings (included)"){
                for(i=0;i<every.length;i++){
                    if(num*9-9 <= i && i < num*9 && document.getElementById("filt0s").textContent == "Out-of-stock listings (included)"){
                        every[i].style.display = "inline-block"
                    }
                    else{
                        every[i].style.display = "none"
                    }
                }
            }
            else{
                for(i=lastInd;i>=0;i--){
                    if(count == 0 && i >= firstInd){
                        every[i].style.display = "none"
                    }
                    else if(count < 9 && document.getElementById("filt0s").textContent == "Out-of-stock listings (excluded)" && !every[i].children[2].classList.contains("out")){
                        if(count == 8){
                            firstInd = i
                        }
                        if(count == 0){
                            lastInd = i
                        }
                            count += 1
                            every[i].style.display = "inline-block"
                    }
                    else{
                        every[i].style.display = "none"
                    }
                }
            }
            if(num == 1){
                document.getElementById("bac").style.display = "none"
            }
            gotmore = false
            count = 0
            document.getElementById("pgno").innerText = num.toString()
            window.scrollTo(0, 200)
        }
        function pgfor(){
            document.getElementById("bac").style.display = "inline-block"
            var num = (parseInt(document.getElementById("pgno").innerText) + 1)
            if(document.getElementById("filt0s").textContent == "Out-of-stock listings (included)"){
                for(i=0;i<every.length;i++){
                    if(num*9-9 <= i && i < num*9){
                        every[i].style.display = "inline-block"
                    }
                    else{
                        every[i].style.display = "none"
                    }
                }
            }
            else{
                for(i=firstInd;i<every.length;i++){
                    if(count == 0 && i <= lastInd){
                        every[i].style.display = "none"
                    }
                    else if(count < 9 && document.getElementById("filt0s").textContent == "Out-of-stock listings (excluded)" && !every[i].children[2].classList.contains("out")){
                        if(i == every.length - 1 || count == 8){
                            lastInd = i
                        }
                        else if(count == 0){
                            firstInd = i
                        }
                            count += 1
                            every[i].style.display = "inline-block"
                    }
                    else{
                        if(count == 9 && !every[i].children[2].classList.contains("out")){
                            gotmore = true
                        }
                        every[i].style.display = "none"
                    }
                }
            }
            if(count != 0 && !gotmore || num*9 >= every.length){
                document.getElementById("forw").style.display = "none"
            }
            gotmore = false
            count = 0
            document.getElementById("pgno").innerText = num.toString()
            window.scrollTo(0, 200)
        }

        function filtout(that){
            var counted = 1
            if((every.length - o.length) < 10 && document.getElementById("pgsys") != null){
                document.getElementById("pgsys").style.display = "none"
            }
            if(document.getElementById("pgsys") != null){
                document.getElementById("pgno").innerText = "1"
                forw.style.display = "inline-block"
                bac.style.display = "none"
            }
            for(i=0; i<o.length; i++){
                o[i].closest(".listing").style.display = "none"
            }
            for(i=0; i<every.length; i++){
                if(every[i].children[2].classList.contains("out")){}
                else if(counted>9){
                    every[i].style.display = "none"
                }
                else{
                    if(counted == 9){
                        lastInd = i
                    }
                        counted += 1
                        every[i].style.display = "inline-block"
                }
            }
            firstInd = 0
            count = 0
            that.textContent = "Out-of-stock listings (excluded)"
            that.setAttribute( "onclick", "javascript: filtin(this)")
        }
        function filtin(that){
            if(every.length > 9 && document.getElementById("pgsys") != null) {
                document.getElementById("pgsys").style.display = "block"
            }
            if (document.getElementById("pgsys") != null){
                document.getElementById("pgno").innerText = "1"
                bac.style.display = "none"
                forw.style.display = "inline-block"
            }
            for(i=0; i<every.length; i++){
                if(i<9){
                    every[i].style.display = "inline-block"
                }
                else{
                    every[i].style.display = "none"
                }
            }
            count = 0
            firstInd = 0
            lastInd = 8
            that.textContent = "Out-of-stock listings (included)"
            that.setAttribute( "onclick", "javascript: filtout(this)")
        }
        $("#sortAlphA").click(function () {
            var x = $(".listing")
            var y = $(".in-cart")
            for (i = 0; i < y.length; i++) {
                selected.push({
                    div: y[i].closest(".listing"),
                    name: y[i].closest(".product-name")
                })
            }
            for (i = 0; i < x.length; i++) {
                all.push({
                    div: x[i],
                    name: x[i].children[3].children[0].innerText
                })
            }
            $(".listing").detach()
            all.sort(function (a, b) {
                return a.name.localeCompare(b.name)
            })
            every.sort(function (a, b){
                return a.children[3].children[0].innerText.localeCompare(b.children[3].children[0].innerText)
            })
            for (i = 0; i < all.length; i++) {
                var listing = all[i]
                for (u = 0; u < selected.length; u++) {
                    if (listing === selected[u]) {
                        document.getElementById("main").appendChild(selected[u].div)
                        break
                    }
                }
                document.getElementById("main").appendChild(listing.div)
            }
            if(document.getElementById("filt0s").textContent == "Out-of-stock listings (excluded)" && document.getElementById("pgsys") == null || document.getElementById("pgsys").style.display == "none"){
                var num = 0
                for(i=0; i<every.length; i++){
                    if(num<9 && !every[i].children[2].classList.contains("out")){
                        if(num == 8){
                            lastInd = i
                        }
                        else if(num == 0){
                            firstInd = i
                        }
                        num += 1
                        every[i].style.display = "inline-block"
                    }
                    else{
                        every[i].style.display = "none"
                    }
                }
            }
            else if (document.getElementById("pgsys").style.display = "inline-block" && document.getElementById("filt0s").textContent == "Out-of-stock listings (included)"){
                document.getElementById("pgno").innerText = "1"
                bac.style.display = "none"
                forw.style.display = "inline-block"
                for(i=0; i<all.length; i++){
                    if(i<9){
                        all[i].div.style.display = "inline-block"
                    }
                    else{
                        all[i].div.style.display = "none"
                    }
                }
                var p = $("#pgsys")
                $("#pgsys").detach()
                document.getElementById("main").appendChild(p[0])
            }
            else if(document.getElementById("pgsys").style.display == "inline-block" && document.getElementById("filt0s").textContent == "Out-of-stock listings (excluded)"){
                var num = 0
                document.getElementById("pgno").innerText = "1"
                bac.style.display = "none"
                forw.style.display = "inline-block"
                for(i=0; i<all.length; i++){
                    if(num<9 && !all[i].div.children[2].classList.contains("out")){
                        if(num == 8){
                            lastInd = i
                        }
                        else if(num == 0){
                            firstInd = i
                        }
                        num += 1
                        all[i].div.style.display = "inline-block"
                    }
                    else{
                        all[i].div.style.display = "none"
                    }
                }
                var p = $("#pgsys")
                $("#pgsys").detach()
                document.getElementById("main").appendChild(p[0])
            }
            all.length = 0
            selected.length = 0
        })
        $("#sortAlphD").click(function () {
            var x = $(".listing")
            var y = $(".in-cart")
            for (i = 0; i < y.length; i++) {
                selected.push({
                    div: y[i].closest(".listing"),
                    name: y[i].closest(".product-name")
                })
            }
            for (i = 0; i < x.length; i++) {
                all.push({
                    div: x[i],
                    name: x[i].children[3].children[0].innerText
                })
            }
            $(".listing").detach()
            all.sort(function (a, b) {
                return a.name.localeCompare(b.name)
            })
            every.sort(function (a, b) {
                return a.children[3].children[0].innerText.localeCompare(b.children[3].children[0].innerText)
            })
            all.reverse()
            every.reverse()
            for (i = 0; i < all.length; i++) {
                var listing = all[i]
                for (u = 0; u < selected.length; u++) {
                    if (listing === selected[u]) {
                        document.getElementById("main").appendChild(selected[u].div)
                        break
                    }
                }
                document.getElementById("main").appendChild(listing.div)
            }
            if(document.getElementById("filt0s").textContent == "Out-of-stock listings (excluded)" && document.getElementById("pgsys") == null || document.getElementById("pgsys").style.display == "none"){
                var num = 0
                for(i=0; i<every.length; i++){
                    if(num<9 && !every[i].children[2].classList.contains("out")){
                        if(num == 8){
                            lastInd = i
                        }
                        else if(num == 0){
                            firstInd = i
                        }
                        num += 1
                        every[i].style.display = "inline-block"
                    }
                    else{
                        every[i].style.display = "none"
                    }
                }
            }
            else if (document.getElementById("pgsys").style.display = "inline-block" && document.getElementById("filt0s").textContent == "Out-of-stock listings (included)"){
                document.getElementById("pgno").innerText = "1"
                bac.style.display = "none"
                forw.style.display = "inline-block"
                for(i=0; i<all.length; i++){
                    if(i<9){
                        all[i].div.style.display = "inline-block"
                    }
                    else{
                        all[i].div.style.display = "none"
                    }
                }
                var p = $("#pgsys")
                $("#pgsys").detach()
                document.getElementById("main").appendChild(p[0])
            }
            else if(document.getElementById("pgsys").style.display == "inline-block" && document.getElementById("filt0s").textContent == "Out-of-stock listings (excluded)"){
                var num = 0
                document.getElementById("pgno").innerText = "1"
                bac.style.display = "none"
                forw.style.display = "inline-block"
                for(i=0; i<all.length; i++){
                    if(num<9 && !all[i].div.children[2].classList.contains("out")){
                        if(num == 8){
                            lastInd = i
                        }
                        else if(num == 0){
                            firstInd = i
                        }
                        num += 1
                        all[i].div.style.display = "inline-block"
                    }
                    else{
                        all[i].div.style.display = "none"
                    }
                }
                var p = $("#pgsys")
                $("#pgsys").detach()
                document.getElementById("main").appendChild(p[0])
            }
            all.length = 0
            selected.length = 0
        })
        $("#sortIDA").click(function () {
            var x = $(".listing")
            var y = $(".in-cart")
            for (i = 0; i < y.length; i++) {
                selected.push({
                    div: y[i].closest(".listing"),
                    id: y[i].closest(".listing").getAttribute("id")
                })
            }
            for (i = 0; i < x.length; i++) {
                all.push({
                    div: x[i],
                    id: x[i].getAttribute("id")
                })
            }
            $(".listing").detach()
            all.sort(function (a, b) {
                return a.id.localeCompare(b.id, 'en-US-u-kn-true')
            })
            every.sort(function (a, b){
                return a.getAttribute("id").localeCompare(b.getAttribute("id"), 'en-US-u-kn-true')
            })
            for (i = 0; i < all.length; i++) {
                var listing = all[i]
                for (u = 0; u < selected.length; u++) {
                    if (listing === selected[u]) {
                        document.getElementById("main").appendChild(selected[u].div)
                        break
                    }
                }
                document.getElementById("main").appendChild(listing.div)
            }
            if(document.getElementById("filt0s").textContent == "Out-of-stock listings (excluded)" && document.getElementById("pgsys") == null || document.getElementById("pgsys").style.display == "none"){
                var num = 0
                for(i=0; i<every.length; i++){
                    if(num<9 && !every[i].children[2].classList.contains("out")){
                        if(num == 8){
                            lastInd = i
                        }
                        else if(num == 0){
                            firstInd = i
                        }
                        num += 1
                        every[i].style.display = "inline-block"
                    }
                    else{
                        every[i].style.display = "none"
                    }
                }
            }
            else if (document.getElementById("pgsys").style.display = "inline-block" && document.getElementById("filt0s").textContent == "Out-of-stock listings (included)"){
                document.getElementById("pgno").innerText = "1"
                bac.style.display = "none"
                forw.style.display = "inline-block"
                for(i=0; i<all.length; i++){
                    if(i<9){
                        all[i].div.style.display = "inline-block"
                    }
                    else{
                        all[i].div.style.display = "none"
                    }
                }
                var p = $("#pgsys")
                $("#pgsys").detach()
                document.getElementById("main").appendChild(p[0])
            }
            else if(document.getElementById("pgsys").style.display == "inline-block" && document.getElementById("filt0s").textContent == "Out-of-stock listings (excluded)"){
                var num = 0
                document.getElementById("pgno").innerText = "1"
                bac.style.display = "none"
                forw.style.display = "inline-block"
                for(i=0; i<all.length; i++){
                    if(num<9 && !all[i].div.children[2].classList.contains("out")){
                        if(num == 8){
                            lastInd = i
                        }
                        else if(num == 0){
                            firstInd = i
                        }
                        num += 1
                        all[i].div.style.display = "inline-block"
                    }
                    else{
                        all[i].div.style.display = "none"
                    }
                }
                var p = $("#pgsys")
                $("#pgsys").detach()
                document.getElementById("main").appendChild(p[0])
            }
            all.length = 0
            selected.length = 0
        })
        $("#sortIDD").click(function () {
            var x = $(".listing")
            var y = $(".in-cart")
            for (i = 0; i < y.length; i++) {
                selected.push({
                    div: y[i].closest(".listing"),
                    id: y[i].closest(".listing").getAttribute("id")
                })
            }
            for (i = 0; i < x.length; i++) {
                all.push({
                    div: x[i],
                    id: x[i].getAttribute("id")
                })
            }
            $(".listing").detach()
            all.sort(function (a, b) {
                return a.id.localeCompare(b.id, 'en-US-u-kn-true')
            })
            every.sort(function (a, b){
                return a.getAttribute("id").localeCompare(b.getAttribute("id"), 'en-US-u-kn-true')
            })
            all.reverse()
            every.reverse()
            for (i = 0; i < all.length; i++) {
                var listing = all[i]
                for (u = 0; u < selected.length; u++) {
                    if (listing === selected[u]) {
                        document.getElementById("main").appendChild(selected[u].div)
                        break
                    }
                }
                document.getElementById("main").appendChild(listing.div)
            }
            if(document.getElementById("filt0s").textContent == "Out-of-stock listings (excluded)" && document.getElementById("pgsys") == null || document.getElementById("pgsys").style.display == "none"){
                var num = 0
                for(i=0; i<every.length; i++){
                    if(num<9 && !every[i].children[2].classList.contains("out")){
                        if(num == 8){
                            lastInd = i
                        }
                        else if(num == 0){
                            firstInd = i
                        }
                        num += 1
                        every[i].style.display = "inline-block"
                    }
                    else{
                        every[i].style.display = "none"
                    }
                }
            }
            else if (document.getElementById("pgsys").style.display = "inline-block" && document.getElementById("filt0s").textContent == "Out-of-stock listings (included)"){
                document.getElementById("pgno").innerText = "1"
                bac.style.display = "none"
                forw.style.display = "inline-block"
                for(i=0; i<all.length; i++){
                    if(i<9){
                        all[i].div.style.display = "inline-block"
                    }
                    else{
                        all[i].div.style.display = "none"
                    }
                }
                var p = $("#pgsys")
                $("#pgsys").detach()
                document.getElementById("main").appendChild(p[0])
            }
            else if(document.getElementById("pgsys").style.display == "inline-block" && document.getElementById("filt0s").textContent == "Out-of-stock listings (excluded)"){
                var num = 0
                document.getElementById("pgno").innerText = "1"
                bac.style.display = "none"
                forw.style.display = "inline-block"
                for(i=0; i<all.length; i++){
                    if(num<9 && !all[i].div.children[2].classList.contains("out")){
                        if(num == 8){
                            lastInd = i
                        }
                        else if(num == 0){
                            firstInd = i
                        }
                        num += 1
                        all[i].div.style.display = "inline-block"
                    }
                    else{
                        all[i].div.style.display = "none"
                    }
                }
                var p = $("#pgsys")
                $("#pgsys").detach()
                document.getElementById("main").appendChild(p[0])
            }
            all.length = 0
            selected.length = 0
        })
        $("#sortPriceA").click(function () {
            var x = $(".listing")
            var y = $(".in-cart")
            for (i = 0; i < y.length; i++) {
                selected.push({
                    div: y[i].closest(".listing"),
                    price: y[i].closest(".listing-body").getAttribute("id")
                })
            }
            for (i = 0; i < x.length; i++) {
                all.push({
                    div: x[i],
                    price: x[i].children[3].getAttribute("id")
                })
            }
            $(".listing").detach()
            all.sort(function (a, b) {
                return a.price.localeCompare(b.price, 'en-US-u-kn-true')
            })
            every.sort(function (a, b){
                return a.children[3].getAttribute("id").localeCompare(b.children[3].getAttribute("id"), 'en-US-u-kn-true')
            })
            for (i = 0; i < all.length; i++) {
                var listing = all[i]
                for (u = 0; u < selected.length; u++) {
                    if (listing === selected[u]) {
                        document.getElementById("main").appendChild(selected[u].div)
                        break
                    }
                }
                document.getElementById("main").appendChild(listing.div)
            }
            if(document.getElementById("filt0s").textContent == "Out-of-stock listings (excluded)" && document.getElementById("pgsys") == null || document.getElementById("pgsys").style.display == "none"){
                var num = 0
                for(i=0; i<every.length; i++){
                    if(num<9 && !every[i].children[2].classList.contains("out")){
                        if(num == 8){
                            lastInd = i
                        }
                        else if(num == 0){
                            firstInd = i
                        }
                        num += 1
                        every[i].style.display = "inline-block"
                    }
                    else{
                        every[i].style.display = "none"
                    }
                }
            }
            else if (document.getElementById("pgsys").style.display = "inline-block" && document.getElementById("filt0s").textContent == "Out-of-stock listings (included)"){
                document.getElementById("pgno").innerText = "1"
                bac.style.display = "none"
                forw.style.display = "inline-block"
                for(i=0; i<all.length; i++){
                    if(i<9){
                        all[i].div.style.display = "inline-block"
                    }
                    else{
                        all[i].div.style.display = "none"
                    }
                }
                var p = $("#pgsys")
                $("#pgsys").detach()
                document.getElementById("main").appendChild(p[0])
            }
            else if(document.getElementById("pgsys").style.display == "inline-block" && document.getElementById("filt0s").textContent == "Out-of-stock listings (excluded)"){
                var num = 0
                document.getElementById("pgno").innerText = "1"
                bac.style.display = "none"
                forw.style.display = "inline-block"
                for(i=0; i<all.length; i++){
                    if(num<9 && !all[i].div.children[2].classList.contains("out")){
                        if(num == 8){
                            lastInd = i
                        }
                        else if(num == 0){
                            firstInd = i
                        }
                        num += 1
                        all[i].div.style.display = "inline-block"
                    }
                    else{
                        all[i].div.style.display = "none"
                    }
                }
                var p = $("#pgsys")
                $("#pgsys").detach()
                document.getElementById("main").appendChild(p[0])
            }
            all.length = 0
            selected.length = 0
        })
        $("#sortPriceD").click(function () {
            var x = $(".listing")
            var y = $(".in-cart")
            for (i = 0; i < y.length; i++) {
                selected.push({
                    div: y[i].closest(".listing"),
                    price: y[i].closest(".listing-body").getAttribute("id")
                })
            }
            for (i = 0; i < x.length; i++) {
                all.push({
                    div: x[i],
                    price: x[i].children[3].getAttribute("id")
                })
            }
            $(".listing").detach()
            all.sort(function (a, b) {
                return a.price.localeCompare(b.price, 'en-US-u-kn-true')
            })
            every.sort(function (a, b){
                return a.children[3].getAttribute("id").localeCompare(b.children[3].getAttribute("id"), 'en-US-u-kn-true')
            })
            all.reverse()
            every.reverse()
            for (i = 0; i < all.length; i++) {
                var listing = all[i]
                for (u = 0; u < selected.length; u++) {
                    if (listing === selected[u]) {
                        document.getElementById("main").appendChild(selected[u].div)
                        break
                    }
                }
                document.getElementById("main").appendChild(listing.div)
            }
            if(document.getElementById("filt0s").textContent == "Out-of-stock listings (excluded)" && document.getElementById("pgsys") == null || document.getElementById("pgsys").style.display == "none"){
                var num = 0
                for(i=0; i<every.length; i++){
                    if(num<9 && !every[i].children[2].classList.contains("out")){
                        if(num == 8){
                            lastInd = i
                        }
                        else if(num == 0){
                            firstInd = i
                        }
                        num += 1
                        every[i].style.display = "inline-block"
                    }
                    else{
                        every[i].style.display = "none"
                    }
                }
            }
            else if (document.getElementById("pgsys").style.display = "inline-block" && document.getElementById("filt0s").textContent == "Out-of-stock listings (included)"){
                document.getElementById("pgno").innerText = "1"
                bac.style.display = "none"
                forw.style.display = "inline-block"
                for(i=0; i<all.length; i++){
                    if(i<9){
                        all[i].div.style.display = "inline-block"
                    }
                    else{
                        all[i].div.style.display = "none"
                    }
                }
                var p = $("#pgsys")
                $("#pgsys").detach()
                document.getElementById("main").appendChild(p[0])
            }
            else if(document.getElementById("pgsys").style.display == "inline-block" && document.getElementById("filt0s").textContent == "Out-of-stock listings (excluded)"){
                var num = 0
                document.getElementById("pgno").innerText = "1"
                bac.style.display = "none"
                forw.style.display = "inline-block"
                for(i=0; i<all.length; i++){
                    if(num<9 && !all[i].div.children[2].classList.contains("out")){
                        if(num == 8){
                            lastInd = i
                        }
                        else if(num == 0){
                            firstInd = i
                        }
                        num += 1
                        all[i].div.style.display = "inline-block"
                    }
                    else{
                        all[i].div.style.display = "none"
                    }
                }
                var p = $("#pgsys")
                $("#pgsys").detach()
                document.getElementById("main").appendChild(p[0])
            }
            all.length = 0
            selected.length = 0
        })

    </script>